<div class="comments-container">
  <%= form_with(model: book.comments.new, url: create_books_comment_book_path(book), local: true) do |form| %>
    <div>
      <%= form.label :content, style: "display: block" %>
      <%= form.text_field :content %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
