/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ナビゲーションバーのスタイル */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* リッチな黒色 */
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white; /* リンクのテキスト色を白に */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* リンクにマウスオーバーしたときのスタイル */
nav ul li a:hover {
    background-color: #111; /* 濃い黒色 */
}

